@model CajaVirtualCobrosMVC.Models.ClienteViewModel

<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />

<h1 style="text-align: center; font-size: 24px;">Editar o Eliminar Usuario</h1>

<p style="font-size: 18px;">Nombre de Cliente: @Model.Cliente.Nombre</p>
<p style="font-size: 18px;">Numero de Cliente: @Model.Cliente.NumeroCliente</p>

<p style="font-size: 18px;">Nombre de Usuario: @Model.Usuario.UsuarioNombre</p>
<p style="font-size: 18px;">Estado de Cuenta Saldo: @Model.Cliente.EstadoCuenta.Saldo</p>

@using (Html.BeginForm("EditarCliente", "Administrador", FormMethod.Post))
{
    <input type="hidden" id="clienteId" name="clienteId" value="@Model.Cliente.Id" />
    <input type="submit" value="Editar Usuario" class="btn btn-primary" style="font-size: 18px; margin-top: 20px;" />
}

@using (Html.BeginForm("EliminarCliente", "Administrador", FormMethod.Post))
{
    <input type="hidden" id="clienteId" name="clienteId" value="@Model.Cliente.Id" />
    <input type="submit" value="Eliminar Usuario" class="btn btn-danger" style="font-size: 18px; margin-top: 10px;" />
}

