@using CajaVirtualCobrosMVC.Entidades
@model List<ConceptoCobro>

<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />


<h2>Conceptos de Cobro</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "CrearConcepto", null, new { @class = "create-button" })
</p>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Valor</th>
        <th></th>
    </tr>
    @if (Model.Count > 0)
    {
        @foreach (var conceptoCobro in Model)
        {
            <tr>
                <td>@conceptoCobro.Nombre</td>
                <td>@conceptoCobro.Valor.ToString("C2")</td>
                <td>
                    @Html.ActionLink("Editar Concepto", "EditarConcepto", new { id = conceptoCobro.Id }, new { @class = "edit-button" })
                    @Html.ActionLink("Eliminar Concepto", "EliminarConcepto", new { id = conceptoCobro.Id }, new { @class = "delete-button" })
                </td>
            </tr>
        }

    }
</table>
